/* This file is long to eliminate any stupidity with ie6.  All sensible combinations are covered.$URN$_.. hopefully */

.$URN$_text-static {
    font-family: arial,helvetica;
    font-size: 12px;
    color: black;
    padding: 0px;
}

.$URN$_text-static-bold {
    font-family: arial,helvetica;
    font-size: 12px;
    color: black;
    padding: 0px;
    font-weight: bold;
}

.$URN$_text-static-bold-center {
    font-family: arial,helvetica;
    font-size: 12px;
    color: black;
    padding: 0px;
    font-weight: bold;
    text-align: center;
}

.$URN$_text-static-bold-center-disabled {
    font-family: arial,helvetica;
    font-size: 12px;
    padding: 0px;
    color: rgb(150,150,150);
    font-weight: bold;
    text-align: center;
}

.$URN$_text-static-bold-disabled {
    font-family: arial,helvetica;
    font-size: 12px;
    padding: 0px;
    color: rgb(150,150,150);
    font-weight: bold;
}

.$URN$_text-static-bold-disabled-right {
    font-family: arial,helvetica;
    font-size: 12px;
    padding: 0px;
    color: rgb(150,150,150);
    font-weight: bold;
    text-align: right;
}

.$URN$_text-static-bold-right {
    font-family: arial,helvetica;
    font-size: 12px;
    color: black;
    padding: 0px;
    font-weight: bold;
    text-align: right;
}

.$URN$_text-static-center {
    font-family: arial,helvetica;
    font-size: 12px;
    color: black;
    padding: 0px;
    text-align: center;
}

.$URN$_text-static-center-disabled {
    font-family: arial,helvetica;
    font-size: 12px;
    padding: 0px;
    color: rgb(150,150,150);
    text-align: center;
}

.$URN$_text-static-disabled {
    font-family: arial,helvetica;
    font-size: 12px;
    padding: 0px;
    color: rgb(150,150,150);
}

.$URN$_text-static-disabled-right {
    font-family: arial,helvetica;
    font-size: 12px;
    padding: 0px;
    color: rgb(150,150,150);
}

.$URN$_text-static-right {
    font-family: arial,helvetica;
    font-size: 12px;
    color: black;
    padding: 0px;
    text-align: right;
}